:root {
  --background: #ffffff;
  --rad: 10px;
  --padd: 20px;
  --orange: #be4e30;
  --bkgd: #f1f1f1;
  --textcolor: #1c1c1c;
}

body{
  padding: 0;
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.row{
  display: flex;
}
.stack{
  display: flex;
  flex-direction: column;
}
.apart{
  justify-content: space-between;
}
.center{
  align-items: center;
}