:root {
  --background: #ffffff;
  --foreground: #171717;
  --rad: 10px;
  --padd: 20px;
  --orange: #be4e30;
}

body {
  padding: 0;
  margin: 0;
}

.row{
  display: flex;
}
.stack{
  display: flex;
  flex-direction: column;
}
.apart{
  justify-content: space-between;
}
.center{
  align-items: center;
}