.wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 5vw var(--padd);
    gap: 10px;
    position: relative;
    }
    .toprow{
        width: 100%;
        gap: var(--padd);
        padding: var(--padd) 0 10px;
        position: sticky;
        top: 0;
        background-color: var(--background);
        }
        .labels{
            flex: 1;
        }
        .searchbar{
            width: 200px;
            }
        .searchbar input{
            width: 100%;
        }
        .toprow span{
            font-size: 14px;
            font-weight: bold;
            color: var(--darktext);
        }
        .bbtnCont{
            display: flex;
            align-items: center;
            gap: 10px;
        }
        .backButton{
            border-radius: 5px;
            color: #ffffff;
            border: 1px solid var(--orange);
            background: radial-gradient(#ffffff, rgba(190, 78, 48, 0.3) 76%);
            text-align: center;
            cursor: pointer;
            padding: 5px 20px;
            min-width: 100px;
            flex: 0 0 auto;
            transition: opacity 250ms ease, transform 250ms ease;
        }
        .backButton span{
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }
        .backButton span:before {
            content: '\00ab';
            position: absolute;
            opacity: 0;
            left: -20px;
            transition: 0.5s;
        }
        .backButton:hover span {
            padding-left: 15px;
        }
        .backButton:hover span:before {
            opacity: 1;
            left: 0;
        }
        .backButtonShown {
            display: block;
            transform: translateX(0);
            pointer-events: auto;
        }
        .backButtonHidden {
            display: none;
            transform: translateX(-8px);
            pointer-events: none;
        }

        .crumblist{
            list-style: none;
            margin: 0;
            padding: 0;
        }            
        .crumbBtn{
            background: none;
            border: none;
            font-family: inherit;
            margin: 0;
            padding: 0;
            font-size: 16px;
            color: var(--orange);
        }
        .crumbActive{
            color: var(--darktext);
            text-decoration: underline;
        }
        .crumbActive:hover{
            color: var(--orangeHvr);
        }
        .inact:hover{
            cursor: pointer;
        }
        .bcsep{
            font-size: 16px;
            color: var(--darktext);
            padding: 0 10px;
        }
        
    .dataCont{
        gap: var(--padd);
    }
    .docBubble{
        border: 1px solid #dddddd;
        padding: 15px;
        border-radius: var(--rad);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .docBubble:hover .docName, .docBubble:hover .foldName {
        text-decoration: underline;
    }
    .docBubble:hover{
        cursor: pointer;
        }
        .docIcon{
            height: auto;
            width: 50px;
        }
        .docInfo{
            margin: 0 0 0 10px;
            gap: 5px;
            width: 100%;
            flex-wrap: nowrap;
            text-overflow: ellipsis;
        }
        .docName{
            font-size: 14px;
            font-weight: bold;
            color: var(--black);
        }
        .foldName{
            width: 75%;
            font-size: 13px;
            font-weight: bold;
            color: var(--black);
            align-content: center;
        }
        .foldMeta{
            flex: 1;
            font-size: 11px;
            color: var(--lighttext);
            align-content: end;
        }
        .docMeta{
            font-size: 12px;
            color: var(--lighttext);
            gap: 10px;
        }

    .folderTxt{
        background-color: rgba(0, 255, 21, 0.1);
        padding: 1px 5px;
        border-radius: 5px;
    }
    .fileTxt{
        background-color: rgba(0, 166, 255, 0.1);
        padding: 1px 5px;
        border-radius: 5px;
    }

    .folderBub{
        background-color: rgba(0, 255, 21, 0.1);
        padding: 5px;
    }
    .fileBub{
        background-color: rgba(0, 166, 255, 0.1);
        padding: 10px;
    }

    
    .folderGrid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .fileGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }