.ftr{
    background-color: #000000;
    color: var(--whitetext);
    font-size: 14px;
    padding: var(--padd);
    justify-content: center;
}

@media (max-width: 700px) {
    .ftr{
        font-size: 11px;
    }
}