.wrapper{
    background-color: var(--background);
    flex: 1;
    overflow-x: auto;
}

.infobar{
    height: 5vh;
    padding: 0 var(--padd);
    }
    .txt{
        font-size: 15px;
        color: var(--orange);
    }